<script lang="ts">
	import {Router, Route, links, navigate} from 'svelte-routing';
	import CoursesTable from './components/CoursesTable.svelte';
	import PersonalGoals from './components/PersonalGoals.svelte';
	import Modal from './components/Modal.svelte';
	import SemesterSchedule from './components/SemesterSchedule.svelte';
	import Menu from "./components/Menu.svelte";
	import CourseDetails from './components/CourseDetails.svelte';
	import { courses } from './lib/courses';

	let menuIsOpen = true;
	function onMenuChange({ detail: { isOpen } }) {
		menuIsOpen = isOpen;
	}

	export let url = '';
</script>

<Router url="{url}">
	<Menu on:change={onMenuChange} />
	<main data-menu-open={menuIsOpen.toString()} use:links>
		<Route path="/goals">
			<PersonalGoals />
		</Route>
		<Route path="/semesters">
			<SemesterSchedule />
		</Route>
		<Route path="/*" let:location>
			<CoursesTable compare={location.pathname.split(/\//g).filter(p => p !== '')[0]}/>
			<Router>
				<Route path="/:courseCode/*" let:params>
					<Modal visible on:close={() => navigate('/')}>
						{#await $courses}
							<h1>Loading...</h1>
						{:then courses}
							<div class="courses-details">
								<CourseDetails course={courses.courses[params.courseCode]} />
								<Router>
									<Route path="/:compareCode" let:params>
										<CourseDetails course={courses.courses[params.compareCode]} />
									</Route>
								</Router>
							</div>
						{/await}
					</Modal>
				</Route>
			</Router>
		</Route>
	</main>
</Router>

<style>
	main {
		min-width: 100vw;
		max-width: 100vw;
		margin: 0;
		transition: margin-left var(--menu-animation);
		box-sizing: border-box;
		padding: 80px 142px 0 142px;
	}

	.courses-details {
		display: flex;
		flex-direction: row;
		min-width: 100%;
		gap: var(--spacing-xl);
		align-content: space-between;
	}

	.courses-details > :global(*) {
		min-width: 20ch;
		flex: 1 1 20ch;
	}

	.courses-details > :global(*)::before {
		content: " ";
		height: 100%;
		width: 0px;
		display: block;
		border-left: 1px solid var(--color-gray-600);
		position: absolute;
		transform: translateX(calc(-1 * var(--spacing-lg)));
	}

	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}

</style>