@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200;400;500&family=Bitter:wght@400;700&display=swap');

:root {
	/* Fonts */
	--font-size-medium: 16px;
	--font-size-title: 40px;
	--font-size-heading: 34px;
	--font-size-subheading: 24px;
	--font-weight-extra-light: 200;
	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-bold: 700;

	/* Effects */
	--drop-shadow: 2px 0 4px #00000080;

	/* colors */
	--color-green-300: #DFF7AB;
	--color-green-400: #C0E570;
	--color-green-500: #9FD134;
	--color-green-600: #80B214;
	--color-green-700: #639100;
	--color-main: #D19A34;
	--color-main-100: #FFF7E8; 
	--color-main-200: #FCF0D9;
	--color-main-300: #F7DDAB;
	--color-main-400: #E5BD70;
	--color-main-500: var(--color-main);
	--color-main-600: #B27B14;
	--color-main-700: #915E00;
	--color-red-300: #F7B9AB;
	--color-red-400: #E58670;
	--color-red-500: #D15134;
	--color-red-600: #B23114;
	--color-red-700: #911B00;
	--color-yellow-300: #FCF9D7;
	--color-yellow-400: #F7F1B0;
	--color-yellow-500: #DED037;
	--color-yellow-600: #B2A514;
	--color-yellow-700: #DED037;
	--color-black: #000000;
	--color-white: #FFFFFF;
	--color-gray-300: #F7F7F7;
	--color-gray-400: #E6E6E6;
	--color-gray-500: #D1D1D1;
	--color-gray-600: #B3B3B3;
	--color-gray-700: #919191;
	--color-blue-300: #B0CCF7;
	--color-blue-400: #8BB6F7;
	--color-blue-500: #2261BF;
	--color-blue-600: #003A91;
	--color-blue-700: #002B6B;


	--main-background: var(--color-white);
	--border-color: var(--color-black);
	--border-radius-small: 3px;
	--border-radius-medium: 6px;
	--border-radius-large: 12px;
	--text-color: var(--color-black);
	--secondary-text-color: var(--color-main-700);

	/* Spacing */
	--spacing-xs: 2px;
	--spacing-sm: 4px;
	--spacing-md: 8px;
	--spacing-lg: 16px;
	--spacing-xl: 32px;
	--spacing-xxl: 64px;
}


h1, h2, h3, h4, .heading, .subheading, .title {
	font-family: 'Bai Jamjuree', sans-serif;
}

h1.title {
	font-size: var(--font-size-title);
	font-weight: var(--font-weight-extra-light);
}

h2, .heading {
	font-size: var(--font-size-heading);
	font-weight: var(--font-weight-regular);
}

h3, h4, h5, h6, .subheading {
	font-size: var(--font-size-subheading);
	font-weight: var(--font-weight-medium);
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	font-feature-settings: 'pnum' on, 'lnum' on, 'liga' off;
	line-height: 1.5;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Bitter', serif;
	font-size: var(--font-size-medium);
	font-weight: var(--font-weight-regular);
	padding: 0;
	color: var(--text-color);
	background: var(--main-background);
	fill: currentColor;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a svg {
	fill: currentColor;
}


a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	background: linear-gradient(160deg, var(--color-main-300) 0%, var(--color-main-500) 50%, var(--color-main-600) 120%);
	border: none;
	text-align: center;
	color: var(--color-black);
	transition: box-shadow 0.1s;
	trasition: translate 0.1s;
	cursor: pointer;
	flex: 0 0 24px;
	margin: 0 8px;
	border-radius: var(--border-radius-small);
	vertical-align: middle;
	padding: 0;
	box-shadow: 1px 1px 3px 1px var(--color-gray-600);
}

button:disabled {
	background: linear-gradient(200deg, var(--color-main-100) 0%, var(--color-main-200) 50%, var(--color-main-300) 120%);
	color: var(--color-gray-600);
	cursor: default;
}

button:not(:disabled):active {
	box-shadow: 0px 0px 2px 1px var(--color-gray-700);
	transform: translateX(1px) translateY(1px);
}

button:focus {
	border-color: #666;
}

textarea {
	margin: 0;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid var(--color-gray-700);
	padding: var(--spacing-sm);
	line-height: 1.5;
}

textarea:focus {
	outline: 0;
	border-bottom-color: var(--color-black);
	border-bottom-width: 1px;
}

