<script lang="ts">
    import { createEventDispatcher } from "svelte";
    import CheckIcon from '../icons/check-line.svg.svelte';

    export let id: string = undefined;
    export let value: string;
    export let group: string[] | undefined;
    export let checked: boolean = Boolean(group && group.includes(value));
    export let padding: string = '1em';


    let checkedState = checked;
    $: checkedState = group !== undefined ? group.includes(value) : checked;


    const dispatch = createEventDispatcher();

    function toggle(e: Event) {
        checked = !checked;
        if (group !== undefined) {
            if (!checked && group?.includes(value)) {
                group = group.filter(v => v !== value);
            } else if (checked && !group.includes(value)) {
                group = [...group, value];
            }
        }
        dispatch('change', { checked, id, value: value });
        e.stopPropagation();
    }

    $: dataProps = Object.fromEntries(
        Object.entries($$props).filter(([key]: [string, unknown]) => key.startsWith('data-'))
    );
</script>

<div class="checkbox" class:checked={checkedState} on:click={toggle} style:--padding={padding} {...dataProps}>
    <div class="check-icon">
        <CheckIcon />
    </div>
    <label for={id}>
        <slot></slot>
        <input id={id} type="checkbox" value={value} checked={checkedState} disabled />
    </label>
</div>

<style>
    :root {
        --padding: 1em;
    }

    .checkbox {
        border: 1px solid var(--color-gray-700);
        transition: all 0.3s;
        display: flex;
        flex-direction: row;
        margin: 0;
        align-items: center;
        padding: var(--padding);
        background: linear-gradient(160deg, var(--color-white) 0%, var(--color-gray-300) 50%, var(--color-gray-400) 120%);
    }

    .checkbox:not(:last-of-type) {
        border-bottom-width: 0;
    }

    .checkbox.checked > * {
        transform: translateX(2px) translateY(2px);
    }

    .checkbox.checked {
        box-shadow: inset 1px 1px 3px 1px rgba(0,0,0, 0.45);
    }

    .checkbox.checked + :global(.checkbox.checked) {
        box-shadow: inset 3px 0px 3px -1px rgba(0,0,0, 0.45), inset -1px 0px 2px 0px var(--color-gray-700);
        border-top: 0;
    }

    .checkbox.checked {
        background: var(--color-main-500);
    }

    .checkbox:hover {
        cursor: pointer;
    }

    .checkbox:first-of-type {
        border-top-left-radius: var(--border-radius-small);
        border-top-right-radius: var(--border-radius-small);
    }

    .checkbox:last-of-type {
        border-bottom-left-radius: var(--border-radius-small);
        border-bottom-right-radius: var(--border-radius-small);
        border-bottom-width: 1px;
    }

    .check-icon {
        color: transparent;
        width: var(--font-size-medium);
        width: 24px;
        height: 24px;
        margin-right: var(--spacing-md);
    }

    .checked .check-icon {
        color: var(--color-black);
    }

    .check-icon :global(svg) {
        width: 24px;
        height: 24px;
    }

    input {
        height: 0;
        width: 0;
    }

    label:hover {
        cursor: pointer;
    }
</style>