<script lang="ts">
    import {createEventDispatcher, beforeUpdate, afterUpdate} from 'svelte';
    import RatingStepper from './RatingStepper.svelte';
    import {courseNotes} from "../lib/course-notes";
    import {goals} from "../lib/goals";
    import CourseAttributes from "./CourseAttributes.svelte";
    import CourseTodos from "./CourseTodos.svelte";
    import Checkbox from "./Checkbox.svelte";
    import ArrowUpIcon from '../icons/arrow-up-s-line.svg.svelte';
    import ArrowDownIcon from '../icons/arrow-down-s-line.svg.svelte';

    export let course;
    let prevCourseCode;

    let details = course.details;

    let dispatch = createEventDispatcher();
    let showGoals = false;

    let courseGoals = [];// = $courseNotes[course.code].goals;
    let interestLevel;// = $courseNotes[course.code].interestLevel;

    function updateLocals() {
        showGoals = false;
        courseGoals = $courseNotes[course?.code]?.goals || [];
        interestLevel = $courseNotes[course?.code]?.interestLevel;
        prevCourseCode = course.code;
    }

    function updateStore(value) {
        courseNotes.updateItem(course.code, value);
    }

    $: if (prevCourseCode !== course?.code) {
        updateLocals();
    }
    $: updateStore({goals: courseGoals, interestLevel});

    let goalDropdown;
    let goalDropdownButton;

    document.getElementsByTagName('body')[0].addEventListener('click', (event) => {
        let target = (event.target as HTMLElement);
        while (target && target !== goalDropdown && target !== goalDropdownButton) {
            target = target.parentElement;
        }
        if (target !== goalDropdown && target !== goalDropdownButton) {
            showGoals = false;
        }
    })

</script>

<div class="course-details">
    <div class="course-details__header">
        <h3>{course?.name}</h3>
        <label>
            Interest Level:
            <RatingStepper bind:value={interestLevel} />
        </label>
        <div class="course-details__goals-summary" bind:this={goalDropdownButton} on:click={() => showGoals = !showGoals }>
            <span>
                <span>Personal Goals</span>
                {#if showGoals}
                    <ArrowUpIcon />
                {:else}
                    <ArrowDownIcon />
                {/if}
            </span>
            {courseGoals.length} / {Object.values($goals).length}
        </div>
    </div>
    <div class="course-details__goals" data-expanded={showGoals} bind:this={goalDropdown}>
        {#each Object.values($goals) as goal (goal.id)}
            <Checkbox id={`${course.code}-${goal.id}}`} value={goal.id} bind:group={courseGoals}>{goal.description}</Checkbox>
        {/each}
    </div>
    <div class="modal__content">
        {#if !!course}
            <h4>Overview</h4>
            <div>
                {@html course.details.overview}
            </div>
            <CourseAttributes course={course} />
            {#if course.details.courseGoals}
                <h4>Course Goals</h4>
                {@html course.details.courseGoals}
            {/if}
            {#if course.details.prerequisites}
                <h4>Prerequisite</h4>
                {@html course.details.prerequisites}
            {/if}
            {#if course.details.sampleSyllabus.length > 0}
                <h4>Sample Syllabus</h4>
                <ul>
                {#each course.details.sampleSyllabus as link}
                    <li><a href={link}>{link}</a></li>
                {/each}
                </ul>
            {/if}
            {#if course.details.videos}
                <h4>Course Videos</h4>
                <a href={course.details.videos}>{course.details.videos}</a>
            {/if}
            <h4>Course Todos</h4>
            <CourseTodos course={course} />
        {/if}
    </div>
</div>

<style>

    .course-details {
        position: relative;
    }

    .course-details__header {
        padding: 1em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        box-shadow: 0px 2px 2px -2px var(--color-main-700);
    }

    .course-details__header label {
        display: flex;
        flex-direction: column;
        align-items: center
    }

    .course-details__goals-summary {
        cursor: pointer;
        padding-right: 1em;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .course-details__goals-summary * {
        pointer-events: none;
    }

    .course-details__goals-summary :global(svg) {
        display: inline-block;
        vertical-align: text-bottom;
    }

    .course-details__goals {
        display: none;
        background: var(--main-background);
        border: var(--border-color) 1px solid;
        border-radius: var(--border-radius-small);
        box-shadow: 2px 2px 2px var(--shadow-color);
        padding: 1rem;
        right: 0;
    }

    .course-details__goals[data-expanded=true] {
        display: block;
        position: absolute;
        max-width: 20rem;
        max-height: 80rem;
        overflow-y: auto;
    }

    h3 {
        font-size: 1.3rem;
        line-height: 1.275;
        margin: 0;
    }

    .modal__content {
        overflow-y: auto;
        overflow-x: hidden;
    }

    .modal__content h4 {
        border-bottom: 3px solid var(--text-color);
        width: fit-content;
    }

</style>