<script lang="ts">
    import { courseNotes } from "../lib/course-notes";
    import ToDoStatus from './TodoStatus.svelte';
    import ExpandableInput from "./ExpandableInput.svelte";
    import Checkbox from "./Checkbox.svelte";
    import IconButton from "./IconButton.svelte";

    export let course;

    let toDos;
    $: if (course && course.code) {
        toDos = $courseNotes[course.code].toDos;
    }

    let defaultNewAttribute = {
        state: ToDoStatus.Incomplete,
        isCourse: false,
        description: '',
    }
    let newToDo = { ...defaultNewAttribute };

    function addToDo() {
        toDos.addItem(newToDo);
        courseNotes.updateItem(course.code, { toDos });
        newToDo = { ...defaultNewAttribute };
    }

    function onKeyDown(event) {
        if (event.key === 'Enter') {
            addToDo();
        }
    }

    function changeToDo(event, modifiedTodo) {
        const target = event.currentTarget as HTMLElement;
        const todo = $toDos[Number.parseInt(target.parentElement.dataset.id, 10)];

        toDos.updateItem(todo.id, { ...todo, ...modifiedTodo });
        courseNotes.updateItem(course.code, { toDos });
    }

    function changeStatus(event) {
       changeToDo(event, event.detail);
    }

    function changeIsCourse(event) {
        changeToDo(event, { isCourse: event.target.checked });
    }

    function changeTodoDescription(event) {
        changeToDo(event, { description: event.target.value });
    }

    function removeToDo(event: MouseEvent) {
        toDos.removeItem((event.target as HTMLElement).dataset.id);
        courseNotes.updateItem(course.code, { toDos });
    }
</script>

<div class="course-todos">
    <div class="course-todos__list">
        <ul>
            {#if $toDos}
            {#each Object.values($toDos) as todo (todo.id)}
                <li data-id={todo.id}>
                    <ToDoStatus bind:status={todo.status} on:change={changeStatus} />
                    <IconButton color="red" on:click={removeToDo} data-id={todo.id}>-</IconButton>
                    <ExpandableInput on:keydown={changeTodoDescription} value={todo.description} />
                    <div>
                        <Checkbox id={`todo-${todo.id}`} bind:checked={todo.isCourse} padding="2px">
                            Course
                        </Checkbox>
                    </div>
                    <div></div>
                </li>
            {/each}
            {/if}
            <li>
                <div></div>
                <div></div>
                <ExpandableInput bind:value={newToDo.description} on:keydown={onKeyDown} />
                <div>
                    <Checkbox padding="2px" value="isCourse" bind:checked={newToDo.isCourse}>
                        Course
                    </Checkbox>
                </div>
                <IconButton on:click={addToDo}>+</IconButton>
            </li>
        </ul>
    </div>
</div>

<style>
    .course-todos {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        align-items: stretch;
    }

    .course-todos__list {
        flex: 1 1 40%;
        margin: var(--spacing-lg);
    }

    .course-todos__list ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .course-todos__list li {
        display: grid;
        grid-template-columns: 32px 32px 2fr 1fr 32px;
        height: fit-content;
        gap: var(--spacing-lg);
        margin-bottom: var(--spacing-lg);
        align-items: center;
        max-width: 80ch;
    }


</style>