<script lang="ts">
    import AutoComplete from 'simple-svelte-autocomplete';
    import { navigate } from 'svelte-routing';
    import RatingStepper from './RatingStepper.svelte';
    import { courses, schedules, semesterFriendlyName } from '../lib/courses';
    import { goals } from '../lib/goals';
    import type { CourseMap } from '../lib/courses';
    import { courseNotes } from '../lib/course-notes';
    import CourseRequirement from './CourseRequirement.svelte';
    import Checkbox from './Checkbox.svelte';
    import {onDestroy} from "svelte";

    let allCourses: CourseMap = {};
    let componentCourses = [];
    let searchText = '';
    let pros = {};
    let cons = {};
    let subscriptions = [];
    export let compare: string;
    let compareCourses = [];

    $: if (compareCourses.length > 1) {
        navigate(`/${compareCourses[0]}/${compareCourses[1]}`);
    }

    function onChangeCompares({ detail: { value, checked } }) {
        if (!checked) {
            compareCourses = compareCourses.filter( v => v !== value)
        } else if (!compareCourses.includes(value)) {
            compareCourses.push(value);
            compareCourses = [...compareCourses.slice(0, 1), ...compareCourses.slice(1).slice(-1)]
        }
    }

    $courses.then(({ courses }) => allCourses = courses);

    Object.keys($courseNotes).forEach((key) => {
        subscriptions.push($courseNotes[key].pros.subscribe(value => pros[key] = Object.keys(value)));
        subscriptions.push($courseNotes[key].cons.subscribe(value => cons[key] = Object.keys(value)));
    });

    onDestroy(() => {
        subscriptions.forEach(unsubscribe => unsubscribe());
    });

    let sorting = { key: 'code', dir: 'asc' };
    let filterSemester = '';
    $: {
        componentCourses = sortCourses(allCourses, sorting.key, sorting.dir);
        if (filterSemester) {
            componentCourses = componentCourses.filter(course => course.code in $schedules[filterSemester]);
        } else if (searchText) {
            const searchRegex = RegExp(searchText.split(/\s+/).join('|'), 'gi');
            const filteredCourses = componentCourses.filter(course => course.code.match(searchRegex) || course.name.match(searchRegex));
            if (filteredCourses.length > 0) componentCourses = filteredCourses;
        }
    }

    function updateSort(event) {
        const key = event.target.dataset.key;
        let newSorting = { key: sorting.key, dir: sorting.dir };
        if (sorting.key === key) {
            if (sorting.dir === 'asc') {
                 newSorting.dir = 'desc';
            } else {
                newSorting.dir = 'asc';
            }
        } else {
            newSorting.dir = 'asc';
        }
        newSorting.key = key;
        sorting = newSorting;
    }

    $: sortedDir = key => key === sorting.key && sorting.dir


    function sortCourses(courses: CourseMap, key: string, dir: string) {
        let lessThan = dir === 'asc' ? -1 : 1;
        let greaterThan = lessThan * -1;

        return Object.values(courses).sort((courseA, courseB) => {
            switch (key) {
                case 'ML':
                case 'CS':
                case 'II':
                case 'CR':
                    const courseAKey = courseA.requirements[key] || 'Z';
                    const courseBKey = courseB.requirements[key] || 'Z';
                    return courseAKey < courseBKey
                        ? lessThan
                        : courseAKey > courseBKey ? greaterThan : 0
                case 'rating':
                    return (($courseNotes[courseA.code]?.interestLevel || 0) - ($courseNotes[courseB.code]?.interestLevel || 0)) * greaterThan;
                case 'goals':
                    return (($courseNotes[courseA.code]?.goals?.length || 0) - ($courseNotes[courseB.code]?.goals?.length || 0)) * greaterThan;
                case 'pros':
                    return ((pros[courseA.code]?.length || 0) - (pros[courseB.code]?.length || 0)) * greaterThan;
                case 'cons':
                    return ((cons[courseA.code]?.length || 0) - (cons[courseB.code]?.length || 0)) * greaterThan;
                default:
                    return courseA[key] < courseB[key] ? lessThan : courseA[key] > courseB[key] ? greaterThan : 0
            }
        });
    }

    function updateInterestLevel(courseCode: string) {
        return (event: CustomEvent<{ rating: number }>) => {
            const interestLevel = event.detail.rating;

            if (courseCode in $courseNotes) {
                $courseNotes[courseCode].interestLevel = interestLevel;
            } else {
                courseNotes.updateItem(courseCode, { interestLevel });
            }
        };
    }
</script>

<div>
    <div class="filter-bar">
        <AutoComplete
            bind:selectedItem={filterSemester}
            bind:text={searchText}
            items={Object.keys($schedules)}
            labelFunction={semesterFriendlyName}
            showClear
            hideArrow
            placeholder="Search by Course code or name"
            noResultsText=""
        />
    </div>
    <table>
        <thead>
            <tr>
                <th></th>
                <th data-key=code data-sorted={sorting.key === 'code' && sorting.dir} on:click={updateSort}>Course Code</th>
                <th data-key=name data-sorted={sorting.key === ('name') && sorting.dir} on:click={updateSort}>Name</th>
                <th data-key=rating data-sorted={sorting.key === ('rating') && sorting.dir} on:click={updateSort}>Rating</th>
                <th data-key=ML data-sorted={sorting.key === ('ML') && sorting.dir} title="Machine Learning" on:click={updateSort}>ML</th>
                <th data-key=CS data-sorted={sorting.key === ('CS') && sorting.dir} title="Computing Systems" on:click={updateSort}>CS</th>
                <th data-key=II data-sorted={sorting.key === ('II') && sorting.dir} title="Interactive Intelligence" on:click={updateSort}>II</th>
                <th data-key=CR data-sorted={sorting.key === ('CR') && sorting.dir} title="Computational Perception & Robotics" on:click={updateSort}>CR</th>
                <th data-key=goals data-sorted={sorting.key === ('goals') && sorting.dir} on:click={updateSort}>Goals</th>
                <th data-key=pros data-sorted={sorting.key === ('pros') && sorting.dir} on:click={updateSort}>Pros</th>
                <th data-key=cons data-sorted={sorting.key === ('cons') && sorting.dir} on:click={updateSort}>Cons</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {#await $courses}
                <tr>
                    <td colspan="7">Loading...</td>
                </tr>
            {:then _}
                {#each componentCourses as course (course.code)}
                    <tr data-course-code={course.code} on:click={() => navigate(`/${course.code}`)}>
                        <td>{course.isFoundational ? '*' : ''}</td>
                        <td>{course.code}</td>
                        <td>{course.name}</td>
                        <td><RatingStepper value={$courseNotes[course.code]?.interestLevel || 0} on:change={updateInterestLevel(course.code)} /></td>
                        <td><CourseRequirement type={course.requirements.ML} specialization="ML" /></td>
                        <td><CourseRequirement type={course.requirements.CS} specialization="CS" /></td>
                        <td><CourseRequirement type={course.requirements.II} specialization="II" /></td>
                        <td><CourseRequirement type={course.requirements.CR} specialization="CR" /></td>
                        <td>{$courseNotes[course.code]?.goals?.length || 0} / {Object.values($goals).length}</td>
                        <td>{pros[course.code]?.length || 0}</td>
                        <td>{cons[course.code]?.length || 0}</td>
                        <td><Checkbox group={compareCourses} on:change={onChangeCompares} value={course.code}>Compare</Checkbox></td>
                    </tr>
                {/each}
            {/await}
        </tbody>
    </table>
</div>

<style>
    .filter-bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin: var(--spacing-xl);
        height: calc((2 * var(--spacing-md)) + (1.5 * var(--font-size-medium) + 2px));
    }

    .filter-bar :global(.autocomplete) {
        height: calc((2 * var(--spacing-md)) + (1.5 * var(--font-size-medium) + 2px));
    }

    .filter-bar :global(.input-container) {
        position: static !important;
        display: flex !important;
        flex-direction: row !important;
        height: calc((2 * var(--spacing-md)) + (1.5 * var(--font-size-medium) + 2px));
        border: 1px solid var(--color-black);
        box-sizing: content-box;
        border-radius: 3px;
    }

    .filter-bar :global(.input-container):focus-within {
        outline: var(--color-black) auto 1px;
    }

    .filter-bar :global(.autocomplete-clear-button) {
        position: relative !important;
        margin-left: auto !important;   
        transform: none !important;
        left: unset !important;
        right: unset !important;
        top: unset !important;
        align-self: center !important;
    }

    .filter-bar :global(.autocomplete-input) {
        border: none !important;
        padding: var(--spacing-xs) var(--spacing-sm) !important;
        height: calc((1.5 * var(--font-size-medium)) + (2 * var(--spacing-md))) !important;
        box-sizing: content-box;
        margin: 0 !important;
    }

    .filter-bar :global(.autocomplete-input) {  
        border: none !important;
        padding: var(--spacing-md) var(--spacing-lg) !important;
    }

    .filter-bar :global(.autocomplete-input):focus-visible {  
        border: none !important;
        outline: none !important;
    }

    .filter-bar :global(.autocomplete-list) {
        border: none !important;
        box-shadow: var(--drop-shadow);
        z-index: unset;
    }

    .filter-bar :global(.input-container) {
       min-width: 500px; 
    }
    .filter-bar :global(.autocomplete-list-item.selected) {
        background-color: var(--color-main-600) !important;
    }

    .filter-bar :global(.autocomplete-list-item.confirmed) {
        background-color: var(--color-main-700) !important;
    }


    table {
        border-spacing: 0;
        border-collapse: collapse;
    }

    table > thead th {
        cursor: pointer;
    }

    table > thead th[title]:hover {
        position: relative;
    }

    table > thead th {
        padding-left: 1.3em;
        position: relative;
        text-align: left;
        text-transform: uppercase;
        letter-spacing: 0.25ch;
        font-size: 0.95em;
        background-color: var(--color-gray-400);
    }

    table > thead th[data-sorted]:after {
        content: ' ';
        -webkit-mask-image: url('/icons/arrow-up-down-line.svg');
        mask-image: url('/icons/arrow-up-down-line.svg');
        background-color: var(--color-gray-600);
        -webkit-mask-size: contain;
        mask-size: contain;
        height: 0.8em;
        width: 0.8em;
        display: block;
        position: absolute;
        left: 0;
        top: 0.3em;
    }

    table > thead th[data-sorted='asc']:after {
        -webkit-mask-image: url('/icons/arrow-up-line.svg');
        mask-image: url('/icons/arrow-up-line.svg');
        -webkit-mask-size: contain;
        mask-size: contain;
        background-color: var(--color-black);
    }

    table > thead th[data-sorted='desc']:after {
        -webkit-mask-image: url('/icons/arrow-down-line.svg');
        mask-image: url('/icons/arrow-down-line.svg');
        -webkit-mask-size: contain;
        mask-size: contain;
        background-color: var(--color-black);
    }

    table > thead th[title]:hover:after {
        content: attr(title);
        position: absolute;
        top: -100%;
        left: 0px;
        background: #ffffff;
        box-shadow: 2px 2px 3px 5px rgba(51, 51, 51, 0.5);
        border-radius: 2px;
        padding: 0.25em 0.4em;
    }

    table > thead th:nth-of-type(1) {
        width: 1.25ch;
    }

    table > thead th:nth-of-type(2) {
        width: calc(13ch * 1.25);
    }

    table > thead th:nth-of-type(4) {
        width: 1px;
    }

    table > thead th:nth-of-type(5),
    table > thead th:nth-of-type(6),
    table > thead th:nth-of-type(7),
    table > thead th:nth-of-type(8)
    {
        width: 4ch;
        margin-right: 1em;
    }

    table > tbody tr td:nth-of-type(5),
    table > tbody tr td:nth-of-type(6),
    table > tbody tr td:nth-of-type(7),
    table > tbody tr td:nth-of-type(8)
    {
        text-align: center;
        padding-left: 1.3rem;
    }


    table > tbody td:nth-of-type(2) {
        text-align: left;
    }


    table > thead th:nth-of-type(3) {
        width: 20%;
    }

    table  tr td {
        padding: 0.5em 0 0.2em 1.3rem;
        border-bottom: 1px solid var(--color-gray-500);
    }
    

    table > tbody > tr > td:nth-of-type(1) {
        font-weight: bold;
        color: var(--color-green-500);
    }

    table > tbody tr:hover {
        cursor: pointer;
    }

    table > tbody tr:hover td {
        background-color: var(--color-gray-300);
    }

    :global(.autocomplete.show-clear) :global(.autocomplete-clear-button) {
        z-index: unset !important;
    }
</style>