<script lang="ts">
    import { courseNotes } from "../lib/course-notes";
    import type { CourseNotes } from "../lib/course-notes";
    import EditableList from "./EditableList.svelte";

    export let course;

    let attributes: { pros?: any, cons: any } = {
        pros: undefined,
        cons: undefined,
    };
    let { pros, cons } = attributes;
    $: if (course && course.code) {
        attributes.pros = $courseNotes[course.code].pros;
        attributes.cons = $courseNotes[course.code].cons;
        ({ pros, cons } = attributes);
    }

    let defaultNewAttribute = {
        description: '',
    }
    let newAttributes = {
        pro: {...defaultNewAttribute},
        con: {...defaultNewAttribute},
    };

    function addAttribute(name: string, newAttributeName: string, resetAttribute = defaultNewAttribute) {
        return ({ detail: description }) => {
                attributes[name].addItem({ description });
                courseNotes.updateItem(course.code, ({[name]: attributes[name]} as Partial<CourseNotes>));
                newAttributes[newAttributeName] = {...resetAttribute};
        }
    }

    function removeAttribute(name: 'pros'|'cons'|'toDos') {
        return ({ detail: { id } }) => {
            attributes[name].removeItem(id);
            courseNotes.updateItem(course.code, { [name]: attributes[name] });
        }
    }

    function changeAttribute(name: 'pros'|'cons') {
        return ({ detail: { id, value: description } }) => {
            attributes[name].updateItem(id, { description });
            courseNotes.updateItem(course.code, { [name]: attributes[name] });
        }
    }

    const addPro = addAttribute('pros', 'pro', defaultNewAttribute);
    const addCon = addAttribute('cons', 'con', defaultNewAttribute);

    const removePro = removeAttribute('pros');
    const removeCon = removeAttribute('cons');

    const changePro = changeAttribute('pros');
    const changeCon = changeAttribute('cons');

    function attrValueToItem({ id, description }) {
        return { id, value: description };
    }
</script>

<div class="course-attributes">
    <div class="course-attributes__list">
        <h4>Pros</h4>
        <EditableList
            items={Object.values($pros || []).map(attrValueToItem)}
            ariaItemType="Con"
            on:add={addPro}
            on:remove={removePro}
            on:change={changePro}
        />
    </div>
    <div class="course-attributes__list">
        <h4>Cons</h4>
        <EditableList
            items={Object.values($cons || []).map(attrValueToItem)}
            ariaItemType="Con"
            on:add={addCon}
            on:remove={removeCon}
            on:change={changeCon}
        />
    </div>
</div>

<style>
    .course-attributes {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        align-items: stretch;
    }

    .course-attributes__list {
        flex: 1 1 40%;
        max-width: 440px;
        margin: var(--spacing-lg);
    }

    .course-attributes__list h4 {
        text-align: left;
        border-bottom: 3px solid var(--text-color);
        width: fit-content;
    }

</style>