<script lang="ts">
    export let type: 'C' | 'E' | '' = '';
    export let specialization: string;
</script>

<span class={type}>
    {type}
    <span class="specialization">{specialization}</span>
</span>

<style>
    span {
        display: none;
        border-radius: var(--border-radius-small);
        position: relative;
        margin-right: 1em;
    }

    span.C {
        display: block;
        background-color: var(--color-blue-500);
        color: var(--color-white);
    }

    span.E {
        display: block;
        background-color: var(--color-blue-300);
        color: var(--color-blue-700);
    }

    span span.specialization {
        display: block;
        position: absolute;
        background-color: var(--color-gray-500);
        color: var(--color-black);
        bottom: -0.4em;
        right: -1em;
        border-radius: var(--border-radius-small);
        font-size: 0.6em;
        padding: 1px;
        box-shadow: 1px 1px 2px 1px var(--color-gray-300);
        margin: 0;
    }
</style>