<script lang="ts">
    import { createEventDispatcher} from "svelte";
    import ExpandableInput from "./ExpandableInput.svelte";
    import IconButton from "./IconButton.svelte";

    export let items: { id: string, value: string }[] = [];
    export let ariaItemType: string = '';

    const dispatch = createEventDispatcher();

    let newValue = '';

    function onRemove(event) {
        dispatch('remove', { id: event.target.dataset.id });
    }

    function onAdd(event) {
        dispatch('add', newValue);
        newValue = '';
    }

    function onEnter(event: KeyboardEvent) {
        if (event.key === 'Enter') {
            event.stopPropagation();
            event.preventDefault();
            onAdd(event);
        }
    }


    function onChange(event) {
        dispatch('change', { id: event.target.dataset.id, value: event.target.value });
    }

</script>

<ul>
    {#if items}
        {#each items as item (item.id)}
            <li>
                <IconButton color="red" on:click={onRemove} aria-label={`Remove ${ariaItemType}`} data-id={item.id}>-</IconButton>
                <ExpandableInput value={item.value} on:change={onChange} data-id={item.id} />
                <div></div>
            </li>
        {/each}
    {/if}
    <li>
        <div></div>
        <ExpandableInput bind:value={newValue} on:keydown={onEnter} />
        <IconButton on:click={onAdd} aria-label={`Add ${ariaItemType}`}>+</IconButton>
    </li>
</ul>

<style>

    li > :global(button) {
        align-self: center;
    }

    li {
        display: grid;
        grid-template-columns: 32px 1fr 32px;
        height: fit-content;
        gap: var(--spacing-lg);
        margin-bottom: var(--spacing-lg);
    }
</style>