<script lang="ts">
    import { beforeUpdate } from "svelte";

    export let value: string = '';

    let wrapper;
    let textArea;
    let sizer;
    let wrapperBefore;

    beforeUpdate(() => {
        if (textArea && sizer) {
            const styles = window.getComputedStyle((textArea));
            for (let i = 0; i <= styles.length; i++) {
                sizer.style.setProperty(styles[i], styles.getPropertyValue(styles[i]));
            }
        }
    });

    let dataProps = {}
    $: dataProps = Object.fromEntries(
        Object.entries($$props).filter(([key]: [string, unknown]) => key.startsWith('data-'))
    );

</script>

<div class={`input-wrapper ${wrapperBefore}`} data-value={value} bind:this={wrapper}>
    <div class="input-sizer" aria-hidden="true" bind:this={sizer}>{value || ' '}</div>
    <textarea bind:value={value} on:keydown on:change on:keyup on:keypress rows="1" bind:this={textArea} {...dataProps}></textarea>
</div>

<style>
    .input-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        height: fit-content;
    }

    .input-sizer {
        display: block !important;
        height: min-content !important;
        border: none !important;
    }

    textarea,
    .input-sizer {
        height: auto;
        word-break: break-word;
        word-wrap: break-word;
        resize: none;
        overflow: hidden;
        grid-area: 1 / 1 / 2 / 2;
        list-style: none;
        white-space: pre-wrap;
    }
</style>