<script lang="ts">
    export let color: 'primary' | 'red' | 'gray' = 'primary';
</script>

<button
        {...$$props}
        on:click
        class:red={color === 'red'}
        class:primary={color === 'primary'}
        class:gray={color === 'gray'}
>
    <slot></slot>
</button>


<style>
    button {
        max-width: 1.5em;
        max-height: 1.5em;
        line-height: 1.5;
        margin: 0;
    }

    button.red {
        color: var(--color-white);
        background: linear-gradient(160deg, var(--color-red-400) 0%, var(--color-red-600) 50%, var(--color-red-700) 120%);
    }

    button.gray {
        color: var(--color-black);
        background: linear-gradient(160deg, var(--color-white) 0%, var(--color-gray-300) 50%, var(--color-gray-700) 120%);
    }

</style>