<script>
    import { createEventDispatcher } from 'svelte';
    import { links } from 'svelte-routing';
    import { globalHistory } from 'svelte-routing/src/history';
    import NotebookIcon from '../icons/notebook.svg.svelte';
    import ClipboardCheckIcon from '../icons/clipboard-check.svg.svelte';
    import CalendarIcon from '../icons/calendar.svg.svelte';

    let isOpen = true;
    let dispatch = createEventDispatcher();

    $: dispatch('change', { isOpen });

    globalHistory.listen(({ location }) => {
        if (location.pathname.match(/^\/[^\/]+\//)) {
            isOpen = false;
        }
    });
</script>

<nav data-open={isOpen.toString()} use:links>
    <h1 class="title">
        OMSCS Course Planner
    </h1>
    <a href="/" on:click={() => isOpen = false}>
        <ClipboardCheckIcon />
        <span class="menu__item">Home</span>
    </a>
    <a href="/goals">
        <NotebookIcon />
        <span class="menu__item">Goals</span>
    </a>
    <!--<a href="/semesters" class="menu__item-right">
        <CalendarIcon />
        <span class="menu__item">Semesters</span>
    </a>-->
</nav>

<style>
    :global(:root) {
        --menu-animation: 100ms ease-out;
        --menu-open-width: 13rem;
        --menu-closed-width: 32px;
    }

    nav {
        height: 60px;
        position: fixed;
        top: 0;
        width: calc(100% - 64px);
        background-color: var(--color-main);
        color: var(--color-white);
        display: flex;
        flex-direction: row;
        box-shadow: var(--drop-shadow);
        transition: width var(--menu-animation);
        overflow: hidden;
        padding: 14px 32px 0 32px;
        z-index: 1;
    }

    nav h1 {
        color: var(--main-light);
        position: absolute;
        left: 50%;
        transform: translateX(-50%); 
        
        margin: 0 auto;
        line-height: 1.5;
        vertical-align: bottom;
    }

    nav a, nav a:visited, nav a:active {
        font-family: 'Saira', sans-serif;
        color: var(--main-dark);
        font-size: var(--font-size-small);
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin: 0 16px;
        justify-content: flex-end;
        flex: 0 0 auto;
    }

    a .menu__item {
        transition: font-weight var(--menu-animation);
        transition: opacity var(--menu-animation);
        line-height: 38px;
    }

    nav a.menu__item-right {
        margin-left: auto;
    }

    a :global(svg) {
        width: 16px;
        height: 16px;
        position: relative;
        bottom: 12px;
        margin-right: 6px;
        transition: width var(--menu-animation);
        transition: height var(--menu-animation);
    }

    nav a:hover {
        font-weight: bold;
        text-decoration: none;
    }
</style>