<script>
    import { createEventDispatcher } from 'svelte';

    export let visible;

    let dispatch = createEventDispatcher();
</script>

<div class="modal" data-visible={visible.toString()}>
    <div class="modal-content">
        <slot></slot>
    </div>
    <button class="modal__close-button" on:click={() => dispatch('close')} aria-label="Close" />
</div>

<style>

    .modal[data-visible] {
        display: block;
    }

    .modal[data-visible=false] {
        display: none;
    }

    .modal {
        position: fixed;
        width: 80vw;
        height: 80vh;
        overflow-x: hidden;
        overflow-y: hidden;
        top: 0;
        left:0;
        transform: translateX(10%) translateY(10%);
        background: #fff;
        box-shadow: 2px 2px 3px 5px rgba(51, 51, 51, 0.5);
        border-radius: var(--border-radius-medium);
        padding: var(--spacing-xl);
        z-index: 2;
    }

    .modal-content {
        height: 100%;
        overflow-y: auto;
    }

    .modal__close-button {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        width: 1.3rem;
        height: 1.3rem;
    }

    .modal__close-button:after {
        content: "\2715";
        font-size: 1.2rem;
        position: absolute;
        color: inherit;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

</style>
