<script lang="ts">
    import { goals } from "../lib/goals";
    import { courses } from '../lib/courses';
    import Modal from './Modal.svelte';
    import CourseDetails from './CourseDetails.svelte';
    import IconButton from "./IconButton.svelte";
    import ArrowDown from '../icons/arrow-up-s-line.svg.svelte';
    import ArrowUp from '../icons/arrow-down-s-line.svg.svelte';
    import ExpandableInput from "./ExpandableInput.svelte";
    import type {ChangeEvent} from "rollup";

    let expandedGoals: number[] = [];
    let currentCourse = null;


    function goalIdFromEvent(event: Event) {
        let element = (event.currentTarget as HTMLElement);
        while (element && element.dataset.goalId === undefined) {
            element = element.parentElement;
        }
        return Number.parseInt(element?.dataset.goalId);
    }

    function toggleGoalExpansion(event: Event) {
        const goalId = goalIdFromEvent(event);
        let index = expandedGoals.indexOf(goalId);
        if (index > -1) {
            expandedGoals.splice(index, 1);
            expandedGoals = [ ...expandedGoals ];
        } else {
            expandedGoals = [ ...expandedGoals, goalId];
        }
    }

    function closeModal() {
        currentCourse = null;
    }

    function showCourse(event) {
        const { courseCode } = (event.currentTarget as HTMLElement).parentElement.dataset;
        $courses.then(({ courses }) => {
            currentCourse = courses[courseCode];
        });
    }

    let newGoal = '';

    function addGoal() {
        goals.addItem({ description: newGoal, courses: [] });
        newGoal = '';
    }

    let goalRemovalId = -1;
    function removeGoal(event: Event) {
        goalRemovalId = Number.parseInt((event.currentTarget as Element).parentElement.dataset.goalId);
    }

    function completeGoalRemoval() {
        goals.removeItem(goalRemovalId.toString());
        goalRemovalId = -1;
    }

    function cancelGoalRemoval() {
        goalRemovalId = -1;
    }

    function newGoalKeydown(event: KeyboardEvent) {
        if (event.key === 'Enter') {
            addGoal();
        }
    }

    function onEditGoalKeyDown(event: Event) {
        const goalId = (event.target as HTMLElement).dataset.id;
        goals.updateItem(goalId, { description: (event.target as HTMLInputElement).value });
    }
</script>

<div class:container={true}>
<h1>Personal Goals</h1>
<ul class:goal-list={true}>
    {#each Object.values($goals) as goal (goal.id)}
        <li data-goal-id={goal.id}>
            <IconButton color="red" on:click={removeGoal}>-</IconButton>
            <ExpandableInput on:change={onEditGoalKeyDown} bind:value={goal.description} data-id={goal.id} />
            <IconButton color="gray" on:click={toggleGoalExpansion}>
                {#if expandedGoals.indexOf(goal.id) === -1}
                    <ArrowDown />
                {:else}
                    <ArrowUp />
                {/if}
            </IconButton>
            <span>{goal.courses.length} Courses</span>
            <ul class:course-list={true} data-expanded={expandedGoals.indexOf(goal.id) > -1}>
                {#await $courses}
                    <li>Loading...</li>
                {:then { courses }}
                    {#if goal.courses.length > 0}
                        {#each goal.courses as course}
                            <li data-course-code={course}>
                                <a on:click={showCourse}>{course} {courses[course]?.name || ''}</a>
                            </li>
                        {/each}
                    {:else}
                        <li>No Matching Courses</li>
                    {/if}
                {/await}
            </ul>
        </li>
    {/each}
    <li>
        <div></div>
        <ExpandableInput bind:value={newGoal} on:keydown={newGoalKeydown} />
        <IconButton on:click={addGoal}>+</IconButton>
    </li>
</ul>
<Modal visible={!!currentCourse} on:close={closeModal}>
    {#if currentCourse}
        <CourseDetails course={currentCourse} />
    {/if}
</Modal>
<Modal visible={goalRemovalId > 0} on:close={cancelGoalRemoval}>
    <div>Are you sure you want to remove the goal:</div>
    <div>{$goals[goalRemovalId]?.description}</div>
    <button on:click={completeGoalRemoval}>Yes</button>
    <button on:click={cancelGoalRemoval}>No</button>
</Modal>
</div>

<style>

    .container {
        display: flex;
        flex-direction: column;
        max-width:800px;
        margin-left: auto;
        margin-right: auto;
    }

    ul {
        overflow-y: hidden;
        list-style: none;
        width: 100%;
        margin: 0;
        padding: 0
    }

    ul.goal-list > li {
        display: grid;
        grid-template-columns: 32px 7fr 32px 1fr;
        gap: var(--spacing-sm);
        align-items: center;
        margin-bottom: var(--spacing-lg);
    }

    ul.course-list {
        grid-column-start: 2;
        grid-column-end: 5;
    }

    ul.course-list[data-expanded=true] {
        height: auto;
    }

    ul.course-list[data-expanded=false] {
        height: 0;
    }

    ul.course-list {
        cursor: pointer;
    }
</style>