<script lang="ts">
    import { createEventDispatcher } from "svelte";
    
    export let value: number;
    let currentTarget;
    let dispatch = createEventDispatcher<{ change: { rating: number } }>();

    export let ratingLabels = ['Low', 'Medium', 'High'];
    let emphasisMap: { [key: string]: 'low' | 'medium' | 'high'} = {
        Low: 'low',
        Medium: 'medium',
        High: 'high',
    }

    $: dispatch('change', { rating: value });
    $: {
        const divLine = Math.ceil(ratingLabels.length / 3);
        emphasisMap = ratingLabels.slice(0, divLine).reduce((map, label, index) => ({ ...map, [index + 1]: 'low'}), {});
        
        let medLine = divLine * 2;
        if (medLine >= ratingLabels.length) {
            medLine = ratingLabels.length - 1;
        }
        emphasisMap = ratingLabels.slice(divLine, medLine).reduce((map, label, index) => ({ ...map, [index + divLine + 1]: 'medium'}), emphasisMap);
        emphasisMap = ratingLabels.slice(medLine, ratingLabels.length).reduce((map, label, index) => ({ ...map, [index + medLine + 1]: 'high'}), emphasisMap);
    }

    function updateRating(amount: number) {
        return function (event) {
            event.stopPropagation();
            const newRating = value + amount;
            if (newRating <= ratingLabels.length && newRating > 0) {
                value = newRating;
            }
        }
    }

</script>

<div class={`rating-stepper ${emphasisMap[value] || 'low'}`} bind:this={currentTarget}>
    <button on:click={updateRating(-1)}>-</button>
    <span>{ratingLabels[value - 1] || ''}</span>
    <button on:click={updateRating(1)}>+</button>
</div>

<style>
    .rating-stepper {
        display: flex;
        flex-direction: row;
        width: 176px;
        vertical-align: baseline;
        align-items: center;
        justify-content: center;
        font-weight: var(--font-weight-medium);
        height: auto;
        align-items: center;
    }

    .rating-stepper span {
        border-radius: var(--border-radius-small);
    }

    .rating-stepper.low span {
        background-color: var(--color-red-300);
        color: var(--color-white);
    }

    .rating-stepper.medium span {
        background-color: var(--color-yellow-700);
        color: var(--color-white);
    }

    .rating-stepper.high span {
        background-color: var(--color-green-700);
        color: var(--color-white);
    }

    .rating-stepper span {
        padding: 2px 4px;
    }


     .rating-stepper button {
        background: transparent;
        border: none;
        color: var(--color-gray-600);
        transition: color 0.4s;
        margin: 0;
        width: 24px;
        height: 24px;
        cursor: pointer;
        flex: 0 0 24px;
        margin: 0 8px;
         border-radius: var(--border-radius-small);
         vertical-align: middle;
         padding: 0;
         box-shadow: none;
    }

    .rating-stepper button:disabled {
        color: transparent;
        background: transparent;
    }
    
    .rating-stepper button:hover, .rating-stepper:focus button:hover {
        color: var(--color-black);
        box-shadow: 1px 1px 3px 1px var(--color-gray-700);
        border: none;
        background: linear-gradient(160deg, var(--color-white) 0%, var(--color-gray-300) 50%, var(--color-gray-700) 120%);
    }

    .rating-stepper button:active {
        /*box-shadow: inset 1px 1px 2px 1px var(--color-gray-700);*/
    }

    .rating-stepper button:first-of-type {
        margin-right: auto;
    }
    .rating-stepper button:last-of-type {
        margin-left: auto;
    }
</style>