<script>
    import { schedules, semesterFriendlyName } from '../lib/courses';
    import { semesters } from '../lib/semesters';

    let semesterSelected = null;
    let semesterKey = '';
    let scheduleText = '';

    let semesterObject = null;
    $: semesterKey = semesterSelected && (semesterSelected.year + '-' + semesterSelected.season);
    $: semesterObject = (semesterSelected && $schedules[semesterKey]) || {};

    let lastSemester = `${new Date().getFullYear()}-1`;
    $: {
        let semesters = Object.keys($schedules).sort();
        if (semesters.length > 0) {
            lastSemester = semesters[semesters.length - 1];
        }
    }

    function nextSemester(semesterKey) {
        let [, year, number] = semesterKey.match(/(\d{4})-(\d)/);
        number = Number.parseInt(number, 10);
        year = Number.parseInt(year, 10);
        number += 1;
        if (number > 3) {
            number = 1;
            year += 1;
        }
        return `${year}-${number}`;
    }
</script>

<div class="schedules__container">
    <ul class="schedules__list">
        {#await $semesters}
            <h4>Loading</h4>
        {:then semesterList}
            {#each Object.values(semesterList) as semester}
                <li on:click={() => semesterSelected = semester}>{semester.name}</li>
            {/each}
        {/await}
        <button on:click={() => semesterSelected = nextSemester(lastSemester)}>New</button>
    </ul>
    <div class="schedules__schedule">
        {#if semesterSelected}
            <h3>{semesterSelected.name}</h3>
            <textarea bind:value={scheduleText}></textarea>
            <button on:click={() => schedules.updateSemester(semesterKey, scheduleText)}>Save</button>
        {/if}
        {#if semesterSelected}
            <ul>
                {#each Object.keys(semesterObject) as courseData}
                    <li>{courseData} {semesterObject[courseData].remaining}</li>
                {/each}
            </ul>
        {/if}
    </div>
</div>

<style>
    .schedules__container {
        display: flex;
        flex-direction: row;
        height: 100%;
    }

    .schedules__list {
        flex-grow: 0;
        width: 20%;
        overflow-y: auto;
        list-style: none;
    }

    .schedules__list li {
        margin: 0.5em 0.3em;
        cursor: pointer;
        border-bottom: #333333 1px solid;
    }

    .schedules__list li:hover {
        font-weight: bold;
        border-bottom: #333333 2px solid;
    }

    .schedules__schedule {
        flex-grow: 1;
        overflow-y: auto;
    }
</style>