<script lang="ts">
    import {createEventDispatcher} from "svelte";
    import { ToDoStatus } from "../lib/course-notes";

    const dispatch = createEventDispatcher();

    export let status: ToDoStatus = ToDoStatus.Incomplete;

    function cycleState() {
        if (status === ToDoStatus.Complete) {
            status = ToDoStatus.Incomplete;
        } else {
            status += 1;
        }
        dispatch('change', { status });
    }
</script>

<div class="todo-status" data-state={status} on:click={cycleState}>
    <div class="todo-status__inner"></div>
</div>

<style>
    .todo-status {
        border-radius: 50%;
        height: 1em;
        width: 1em;
        border: var(--text-color) 1px solid;
        overflow: hidden;
    }

    .todo-status__inner {
        height: 0;
        border-top: 0 solid var(--main-background);
        border-bottom: 0 solid var(--text-color);
    }

    .todo-status[data-state='0'] .todo-status__inner {
        border-top-width: 1em;
    }

    .todo-status[data-state='1'] .todo-status__inner {
        border-top-width: 0.5em;
        border-bottom-width: 0.5em;
    }

    .todo-status[data-state='2'] .todo-status__inner {
        border-bottom-width: 1em;
    }
</style>